/* .App {
  position: fixed;
  top: 100px;
  left: 100px;
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid skyblue;
  border-radius: 50%;
  overflow: hidden;
  animation: rotate 3s linear infinite;
} */

.rotate-point {
  position: fixed;
  top: 100px;
  left: 100px;
  width: 30px;
  height: 30px;
}
.rotate-big {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background-image: url("./assets/img/out.png");
  background-size: 100% 100%;
  border-radius: 50%;
  overflow: hidden;
  animation: rotate 1s linear infinite;
}
.rotate-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
  width: 20px;
  height: 20px;
  background-image: url("./assets/img/inner.png");
  background-size: 100% 100%;
  border-radius: 50%;
  overflow: hidden;
  animation: derotate 1s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes derotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
